---
layout: default
title: {{ site.name }}
otherbtn: <i class="fa fa-pie-chart"></i> Workspace
otherbtn-url: https://joveler.kr
ref: index
lang: ko
---

<section id="projects">
  <h1>프로젝트</h1>
  {% assign projects=site.projects | where:"lang", page.lang %}
  {% for proj in projects %}
    <div class="project">
      <div class="project-head">
        <a class="project-head-caption" href="{{ site.baseurl }}{{ proj.link }}">{{ proj.title }}</a>
        <span class="project-head-platform">{{ proj.platform }}</span>
      </div>
      <p>{{ proj.desc }}</p>
    </div>
  {% endfor %}
</section>

<section id="home">
  <h1>공지</h1>
  <ul class="posts">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</section>
