div.project {
  background-color: #a5f3cc;
  background-image: linear-gradient(120deg, #a5ccf3, #a5f3cc);
  color: #000000;
}

.project-head {
  background-color: #4be799;
  background-image: linear-gradient(120deg, #4b99e7, #4be799);
}

.project-head-caption {
  color: #ffffff;
  font-size: 1.5em;
}

.project-head-platform {
  color: #000000;
  font-size: 1em;
  float: right;
}

.en:lang(en), .ko:lang(ko) {
  font-weight: bold;
  background-color: #155799;
}

.btn-lang {
  display: inline-block;
  margin-bottom: 1rem;
  color: #FFFFFF;
  background-color: #159957;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn-lang:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #155799;
}
.btn-lang + .btn-lang {
  margin-left: 1rem;
}
@media screen and (min-width: 64em) {
  .btn-lang {
    padding: 0.25rem 1rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn-lang {
    padding: 0.25rem 0.9rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 42em) {
  .btn-lang {
    text-align: center;
    width: 20%;
    padding: 0.25rem;
    font-size: 0.9rem;
  }
  .btn-lang + .btn-lang {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}


.btn-dark {
  display: inline-block;
  margin-bottom: 1rem;
  color: #FFFFFF;
  background-color: #159957;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn-dark:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #155799;
}
.btn-dark + .btn-dark {
  margin-left: 1rem;
}
@media screen and (min-width: 64em) {
  .btn-dark {
    padding: 0.75rem 1rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn-dark {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 42em) {
  .btn-dark {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }
  .btn-dark + .btn-dark {
    margin-top: 1rem;
    margin-left: 0;
  }
}
