---
layout: project
title: {{ site.name[page.lang] }}
---

<section class="page-header">
  <h1 class="project-name">Notepad-UTF8</h1>
  <h2 class="project-tagline">{{ site.tagline[page.lang] }}</h2>
  <a href="https://github.com/ied206" class="btn">View on GitHub</a>
</section>

<section class="main-content">
  <section id="home">
    <h1>Notice</h1>
    <ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </section>

  <section id="projects">
    <h1>Projects</h1>
    {% for proj in site.projects %}
      <div class="project">
        <div class="project-head">
          <a class="project-head-caption" href="{{ site.baseurl }}{{ proj.link }}">{{ proj.title }}</a>
          <span class="project-platform">{{ proj.platform }}</span>
        </div>
        <p>{{ proj.desc }}</p>
      </div>
    {% endfor %}
  </section>
</section>
